body{
    display: flex;
    max-width: 1440px;
    flex-direction: column;
    align-items: stretch;
    margin: auto;
}

#root{
	margin: 0 100px;
}

@media screen and (max-width: 1024px) {
    #root{
        margin: 0 50px;
    }
}

@media screen and (max-width: 768px) {
    #root{
        margin: 0 20px;
    }

    body{
        display: flex;
        max-width: 768px;
        flex-direction: column;
        align-items: stretch;
        margin: auto;
    }
  }