.logement{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    &__titre{
        color: #FF6060;
        font-family: Montserrat;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 51px;
    }
    &__location{
        color: #FF6060;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
    }
    &__collapse{
        display: flex;
        gap: 76px;
    }
}

.logement-host{
    display: flex;
    justify-content: flex-start;
    &__info{
        display: flex;
    }
    &__image{
        width: 64px;
        height: 64px;
        border-radius: 64px;
    }
}