.logement{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    &__titre{
        color: #FF6060;
        font-family: Montserrat;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 51px;
    }
    &__location{
        color: #FF6060;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
    }
    &__collapse{
        display: flex;
        gap: 76px;
    }
}

.logement-host{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 25px;
    &__info{
        display: flex;
        gap: 10px;
        align-items: center;
        color: #ff6060;
        font-size: 18px;
        justify-content: flex-end;
    }
    &__image{
        width: 64px;
        height: 64px;
        border-radius: 64px;
    }
    &__star{
        display: flex;
        font-size: 24px;
        color: #E3E3E3;
        gap: 15px;
    }
    &__star-actif{
        color: #FF6060;
    }
}
