@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: auto;
}

.menu {
    margin-bottom: 10px;
  
    &.open {
      .menu-content {
        display: block;
      }
    }
  
    .menu-header {
      cursor: pointer;
      background-color: lightgray;
      padding: 5px;
    }
  
    .menu-content {
      display: none;
      background-color: white;
      padding: 10px;
    }
  }
  