.carrousel{
    position: relative;
    height: 415px;
    &__banner{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
    }
    &__icon{
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 80px;
    }
    &__left{
        position: absolute;
        left: 30px;
        transform: translateY(-50%);
        color: white;
        background: $rouge-orange;
        padding: 5px 10px;
        border-radius: 20px;
    }
    &__right{
        position: absolute;
        right: 30px;
        transform: translateY(-50%);
        color: white;
        background: $rouge-orange;
        padding: 5px 10px;
        border-radius: 20px;
    }
    &__counter{
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        text-align: center;
        color: white;
        background: $rouge-orange;
        padding: 5px 10px;
        border-radius: 5px;
        user-select: none;
    }    
}

@media screen and (max-width: 1024px) {
    .carrousel{
        height: 300px;
        &__icon{
            font-size: 60px;
        }
        &__counter{
            bottom: 10px;
            font-size: 14px;
        }
    }
  }

@media screen and (max-width: 768px) {
    .carrousel{
        height: 255px;
        &__banner{
            border-radius: 10px;
        }
        &__icon{
            font-size: 20px;
        }
        &__left{
            left: 15px;
            padding: 5px;
            border-radius: 5px;
        }
        &__right{
            right: 15px;
            padding: 5px;
            border-radius: 5px;
        }
        &__counter{
            bottom: 12px;
            font-size: 12px;
        }
    }

}

