.collapse{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    &__apropos{
      display: flex;
      margin: 40px 108px 40px 108px;
      gap: 30px;
      flex-direction: column;
    }
    &__titre {
      background: $rouge-orange;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 35px;
      align-items: center;
      font-size: 34px;
      border-radius: 5px;
      padding: 10px 20px 10px 15px;
      font-family: 'Montserrat';
      color: white;
      cursor: pointer;
    }
    &__contenu{
      display: none;
      position: relative;
      background: #F6F6F6;
      z-index: -1;
      padding: 15px 20px 20px 20px;
      border-radius: 5px;
      color: #FF6060;
      line-height: 142.6%;

      /* Ajouter une animation de hauteur */
      transition: max-height 0.5s ease-in-out;
      overflow: hidden;
    }
    
}

.icon {
    transition: transform 0.5s ease-in-out;
}
  
.rotate {
    transform: rotate(180deg);
}

.collapse.open .collapse__contenu {
    display: block; // Affiche le contenu lorsque le collapse est ouvert
    max-height: 500px;
  }


@keyframes loadContent {
    0% {
      transform: translateY(-100px);
      transform-origin: top;
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      transform-origin: top;
      opacity: 1;
    }
  }
 
  @media screen and (max-width: 768px) {
    .collapse__apropos{
      margin: 20px 0;
      gap: 20px;
    }
    .collapse{
      &__titre{
        height: 30px;
        padding: 0 10px;
        font-size: 13px;
      }
    }
  }



