.footer{
    display: flex;
    gap: 40px;
    background: black;
    width: 100%;
    position: absolute;
    left: 0;
    flex-direction: column;
    align-items: center;
    padding: 66px 0 29px;
    & img{
        height: 40px;
        width: 122px;
    }
    &__texte{
        font-weight: 500;
        line-height: 142.6%;
        color: white;
    }
}

@media screen and (max-width: 768px) {
    .footer{
        gap: 15px;
        &__texte{
            font-size: 12px;
            width: 130px;
            text-align: center;
        }
    }
}