.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 60px;
    background: $gris-clair;
    border-radius: 25px;
    margin: 43px 0 50px 0;
    padding: 56px 50px 43px 50px;
    &__card{
        display: flex;
        align-items: flex-end;
        position: relative;
        height: 340px;
        width: 100%;
        border-radius: 10px;
    }
    &__img{
        object-fit: cover;
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }
    &__filtre{
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
    }
    &__texte{
        color: $gris-clair;
        margin: 20px;
        font-family: 'Montserrat';
        position: absolute;
        max-width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
        column-gap: 40px;
        padding: 35px 30px 35px 30px;
        &__card{
            height: 300px;
        }
    }
}

@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
        background: none;
        padding: 0;
        margin: 22px 0 30px 0;
        &__card{
            height: 255px;
        }
    }
}