.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0 45px 0;
    
    &__nav{
        display: flex;
        list-style: none;
        gap: 57px;
    }
    nav, a{
        color: #FF6060;
        font-size: 24px;
    }
    &__acceuil{
        text-decoration: underline;
    }
    &__apropos{
        text-decoration: underline;
    }
}