.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0 45px 0;
    
    &__nav{
        display: flex;
        list-style: none;
        gap: 57px;
    }
    nav, a{
        color: #FF6060;
        font-size: 24px;
    }
    &__acceuil{
        text-decoration: none;
    }
    &__apropos{
        text-decoration: none;
    }
    &__active{
        text-decoration: underline; 
    }
}

@media screen and (max-width: 768px) {
    .header{
        margin: 20px 0 25px 0;
        & img{
            width: 145px;
        }
        &__nav{
            gap: 26px;
        }
        nav, a{
            font-size: 12px;
        }

    }
  }